
.seller-bank-info-form {
    text-align: center;
    margin-top: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1em;
}
.bank-info-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}
    .bank-info-input-group input{
        height:2em;
        width:90%;
    }
    @media(prefers-reduced-motion: reduce) {
        .seller-bank-info-form {
        animation: none;
    }
}
.bank-info-buttons-container > .button {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.seller-bank-info-form input:user-invalid {
    outline: auto;
    outline-color: #aa0000;
}

    .seller-bank-info-form input:invalid:focus {
        outline: auto;
        outline-color: #ffaa00;
    }

    .seller-bank-info-form input:valid {
        outline: auto;
        outline-color: #006600;
    }