
.seller-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1vh 1vw;
    box-sizing: border-box;
    width: 100%;
    padding: 2.5vh 2.5vw;
    margin: 1vh auto;
    justify-items:center;
}
.seller-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2.5% 5%;
    text-align: center;
    max-width: max(250px,30vw);
}
    .seller-product .button{
        margin:0.5vh 1vw;
        min-width:45%;
    }
    .delete-product-button {
        background-color: #cc0000;
    }
.seller-products-loader-container{
    display:flex;
    min-height:25vh;
    width:100%;
    justify-content:center;
    align-items:center;
}
@media(any-hover:hover) and (pointer:fine) {
    .delete-product-button:hover:not(:disabled) {
        background-color: #dd2200;
    }
}