/* Sellers.css */

.sellers-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Tajawal', sans-serif;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;

    padding-bottom: 10px;
}

.sellers-page > div > div {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sellers-page p {
    font-size: 1rem;
    margin: 5px 0;
    color: #555;
}

.sellers-page .product-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

button.edit-btn, button.delete-btn {
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.edit-btn {
    background-color: #28a745;
    color: white;
}

button.delete-btn {
    background-color: #dc3545;
    color: white;
}

button.edit-btn:hover {
    background-color: #218838;
}

button.delete-btn:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .sellers-page {
        padding: 10px;
    }

    h3 {
        font-size: 1.3rem;
    }

    button {
        width: 100%;
        font-size: 14px;
    }

    button.edit-btn, button.delete-btn {
        width: 100%;
        margin: 10px 0;
    }

    .sellers-page > div > div {
        padding: 10px;
    }

    .sellers-page p {
        font-size: 0.9rem;
    }
}

