.hero-item-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 2vh 1vw;
    margin: 0 auto;
}
.hero-item {
    font-size: max(0.8em, 1.5vw);
    margin: 0 max(1vw, 20px);
    padding:1%;
    text-align: center;
    cursor: pointer;
}

.icon-container {
    display: block;
    text-align: center;
}

.item-text {
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 3vh;
}

.slick-prev,
.slick-next {
    box-sizing:border-box;
    z-index: 10;
    width: 4vmin;
    height: 4vmin;
    background: transparent;
    border: none;
}