.cart-page {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}
.cart-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    border-radius: 15px;
    padding: 1rem;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;

}

.remove-from-cart-button {
    background-color: #aa0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.cart-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 1rem;
}

.cart-button {
    min-width: 150px;
    height:8vh;
}

.empty-cart {
    text-align: center;
    font-size: 1.5em;
    color: #666;
    margin: 2rem;
}

.empty-cart a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}
@media(any-hover:hover) and (pointer:fine) {
    .empty-cart a:hover {
        text-decoration: underline;
    }
    .remove-from-cart-button:hover:not(:disabled) {
        background-color: #ff3300;
    }
}

