

.order-page {
    font-size: 1em;
    background-color: #f9f9f9;
    padding: 2vh 0;
    transition: background-color 0.5s ease-in-out;
}
.order-items-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 30vh;
    box-sizing: border-box;
    margin: 1vh auto;
    animation: fadeIn 1s ease-in-out;
}


.order-item-container {
    display: flex;
    flex-direction: column;
    height: clamp(30px, 8vh, 100px);
    box-sizing: border-box;
    justify-content: center;
    background-color: #ffffff;
    color: #333333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


    .order-item-container:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .order-item-container:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1.2em;
        font-weight: 750;
    }


    .order-item-container:nth-child(2n) {
        background-color: #f5f5f5;
    }



.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
}

.order-title-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-item-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 7vh;
    width: 7vw;
    margin: auto 1vw;
}

    .order-item-image-container img {
        padding: 0;
        margin: 0;
        max-height: 7vh;
        max-width: 7vw;
    }

.pay-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 2vh 2vw;
    margin: 2vh auto;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}



img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
}

.pay-button:disabled {
    background-color: #888888;
}
@media(any-hover:hover) and (pointer:fine) {
    .pay-button:hover:not(:disabled) {
        background-color: #555555;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .order-item-container:hover {
        transform: scale(1.0025);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .order-item-container {
        padding-right: 1px;
        margin-right: -3px;
        width: 100%;
    }
}


