/* Base Styles for All Devices */
.navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-app-name {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.search-bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 0;
    align-items: center;
}

    .search-bar input {
        width: clamp(15em,30vw,25em);
        height: 3em;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        border: 1px solid #000;
        margin: 0;
    }

.search-icon {
    margin: 0;
    height: 3em;
    width: auto;
    color: #0077ff;
    cursor: pointer;
}

.search-bar button {
    margin: 0;
}

.cart-icon {
    color: black;
}

.user-profile-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.user-profile {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.user-profile-menue {
    position: absolute;
    top: calc(50% + 10px);
    left: 25%;
    z-index: 1000;
    background-color: #fff;
    width: clamp(250px,25vw,500px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
    border: 1px solid #000000a0;
    font-size: 1.25em;
}

.close-button {
    text-align: end;
}

@media (any-hover: hover) and (pointer: fine) {
    .search-icon:hover {
        color: #33aaff;
    }

    .cart-icon:hover {
        color: #334488;
    }

    .nav-link:hover {
        color: #003366;
    }
}



.cart-icon:active {
    color: #6688ff;
}

.search-icon:active {
    color: #004488;
}

@media(max-width: 599px ) {
    .navbar {
        padding: 5px 10px;
    }

    .user-profile {
        font-size: 1em;
    }

    .navbar-app-name {
        font-size: 1em;
    }

    .search-bar input {
        height: 2em;
    }

    .search-icon {
        height: 2em;
    }
}
