.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
.topbar-container{
    box-sizing:border-box;
    width:100%;
    text-align:center;
}
.fill-flex {
    flex: 1;
}

.home-message {
    display:flex;
    justify-content:center;
    align-items:center;
}

.home-message .error-message {
    color: #d9534f; 
    font-size: 1.2em;
    font-weight: bold;
}
    .home-message .loader {
        margin-top:5vh;
    }
