.email-verifictation-success-message {
  color: #00c000;
  margin: 1vh auto;
}
.email-verifictation {
  margin: 5vh auto;
}

.center-text {
  font-family: "Tajawal";
  font-weight: bold;
}

.email-verifictation-content {
  width: 75vw;
}
.email-verifictation-content > * {
  margin: 0.5vh auto;
}
.email-verifictation-button-container {
  margin: 10px;
}

@media (max-width: 768px) {
  .email-verifictation-button-container {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 20px;
  }

  .button2 {
    margin-top: 4vh;
  }
}

.button1,
.button2 {
  text-decoration: none;
  background-color: #a6aca6;
  color: white;
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: auto;
  max-width: 80vw;
}
.button2{
  margin-top: 3vh;
}

    .button1:hover:not(:disabled),
    .button2:hover:not(:disabled) {
        background-color: #8c948c;
    }

.button1:active,
.button2:active {
  background-color: #8c948c;
}

.button1:disabled,
.button2:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button1 {
  background-color: #7b8082;
}

    .button1:hover:not(:disabled) {
        background-color: #7b8082;
    }

.button2 {
  background-color: #7b8082;
}

    .button2:hover:not(:disabled) {
        background-color: #7b8082;
    }

@media (max-width: 768px) {
  .button1,
  .button2 {
    min-width: 10vw;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
    .button1,
    .button2 {
        min-width: 10vw;
        font-size: 0.8em;
    }
}
