
.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-size:1rem;
}
.button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #0000ff;
    border-radius: 5px;
    border: none;
    user-select: none;
    text-decoration: inherit;
    font-size: 1em;
    padding: 1% 2.5%;
    cursor: default;
    font: inherit;
}


.link {
    box-sizing:content-box;
    text-decoration: inherit;
    border: none;
    background: none;
    color: #0077ff;
    font-size: 1em;
    padding: 1% 2.5%;
    cursor: pointer;
}
@media(any-hover:hover) and (any-pointer:fine) {
    .link:hover {
        color: #00aaff;
    }
}
.wrapper-button{
    background:none;
    border:none;
    padding:0;
    box-sizing:border-box;
    display:inline-block;
    color:inherit;
    text-decoration:inherit;
}
@media(any-hover:hover) and (any-pointer:fine) {
    .button:hover {
        background-color: #3377ff;
    }
}
.button:disabled {
    background-color: #777777;
}
.button:active:not(:disabled) {
    transform:scale(0.95);
}

.error-message {
    color: #ff0000;
}
.center-text{
    text-align:center;
}

.text-align-start {
    text-align: start;
}