.address-form{
    display:grid;
    grid-template-columns: fit-content() auto;
    grid-gap: 1vh 2vw;
    padding: 1% 1%;
    justify-content:center;
}
.address-form input{
    height:2em;
    border-radius:5px;
    border-color:black;
}
    .address-form input:valid{
        outline-color:#00aa00;
    }
    .address-form input:user-invalid {
        outline-color: #ff0000;
    }
    .address-form input:focus:invalid {
        outline-color: #ffaa00;
    }
    .postal-code-input{
        letter-spacing:1ch;
    }