// Menu.scss

@import "../../styles/variables.scss"; // Import shared variables
@import "../../styles/responsive.scss"; // Import responsive styles if needed

.menu {
  width: 250px; // Fixed width for the menu
  background-color: $dark-bg; // Background color for menu
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 100px; // Shadow for menu

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
   
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      color: $main-color; // Text color for list items

      &:hover {
        background-color: $soft-bg;
        color: $main-color; // Ensure text color remains visible on hover
      }

      img {
        width: 20px; // Adjust icon size if needed
        height: 20px;
      }

      .listItemTitle {
        @include lg {
          display: none;
          
        }

      }
    }
  }
}
