.login-form1 {
  text-align: center;
  margin-top: 2vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form-content1 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
  width: min(95vw,30em);
  margin: 0 auto;
  font-size: 1em;
}
@media (prefers-reduced-motion: reduce) {
  .login-form-content1 {
    animation: none;
  }
}

.input-group1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  align-items: start;
  margin-top: 10px;
  position: relative;
}

.input-group1 input:user-invalid {
  outline: auto;
  outline-color: #aa0000;
}

.input-group1 input:invalid:focus {
  outline: auto;
  outline-color: #ffaa00;
}

.input-group1 input:valid:not(.hide-valid) {
  outline: auto;
  outline-color: #006600;
}

.input-group1 input {
  padding: 8px;
}

.input-group1 label {
  margin-bottom: 5px;
}
 .error-message{
    min-height: 10px; 
    color: red;
    font-size: 0.85em;
    margin-top: 20px;
}
/* .submit-button {
    box-sizing:border-box;
    width: 100%;
    padding:2.5%;
    max-width: 200px;
    margin:1vh auto;
} */

.submit-button {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .login-form1 {
    padding: 5vh;
    max-width: 100%; 
  }

  .input-group1 {
    margin-bottom: 5vh;
  }

  .button {
    padding: 3vh;
    font-size: 16px;
  }

  .login-form-content1 {
    flex-direction: column;
  }

  .input-group1 label {
    font-size: 10px;
  }

  .input-group1 input, 
  .input-group1 .PhoneInputInput {
    padding: 4vh;
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }
}