@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.pass-content{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
    display:flex;
    gap: 50px;
    justify-content:center;
    align-items:center;
    height:30vh;
    font-family: "tajawal";
}
.pass-content label{
    font-size: 1rem;
    margin-bottom: 10px;
}

.pass-content input[type="email"]{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    font-size: 1rem;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
    outline: none;
}

.pass-content input[type="email"]:hover,
.pass-content input[type="email"]:focus {
    border-color: #66afe9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
